body
  font-family: Georgia !important

h1
  color: #fff
  position: absolute
  top: 90px
  left: 30px
  font-size: 56px

.preview
  background: #ccc

.button
  display: inline-block
  border-radius: 5px
  border: none
  font-family: Georgia
  height: 50px
  background: #000
  color: #fff
  font-weight: bold
  width: 200px
  cursor: pointer
  text-align: center
  text-decoration: none
  line-height: 50px

.controls
  margin-bottom: 10px
.content
  display: flex
.sprite
  background-image: url('img/spritesheet1.png')
  background-repeat: no-repeat
  display: block
  position: absolute
  //-webkit-transition: all 0.5s ease
  //-moz-transition: all 0.5s ease
  //-o-transition: all 0.5s ease
  //transition: all 0.5s ease


  &.sprite-Stronghold
    width: 750px
    height: 1051px
    background-position: 0 0
    position: relative

    i i.hidden
      display: none

  &.sprite-m1
    width: 222px
    height: 255px
    background-position: -1101px -480px
    left: 389px
    top: 556px

    .sprite-b1
      width: 98px
      height: 96px
      left: 110px
      top: 95px

      &.normal
        background-position: -986px 0

      &.alt
        background-position: -1085px 0

    &.alt
      background-position: -750px -735px

      .sprite-b1
        left: 110px
        top: 142px

  .sprite-m2
    width: 141px
    height: 255px
    background-position: -971px -735px
    left: 609px
    top: 556px

    .sprite-b2
      width: 75px
      height: 164px
      top: 53px
      left: 31px

      &.normal
        background-position: -1183px 0

      &.alt
        background-position: -1257px 0

    &.alt
      background-position: -1112px -735px

  .sprite-m3
    width: 234px
    height: 343px
    background-position: -750px -990px
    top: 596px

    .sprite-b3
      width: 93px
      height: 141px
      top: 60px
      left: 50px

      &.normal
        background-position: -750px -164px

      &.alt
        background-position: -843px -164px

    &.alt
      background-position: -984px -990px

  .sprite-m4
    width: 157px
    height: 249px
    background-position: -1218px -990px
    top: 596px
    left: 233px

    .sprite-b4
      width: 87px
      height: 130px
      top: 50px
      left: 63px

      &.normal
        background-position: -936px -164px

      &.alt
        background-position: -1023px -164px

    &.alt
      background-position: -1363px 0

  .sprite-m5
    width: 188px
    height: 268px
    background-position: -1323px -398px
    top: 289px
    left: 389px

    .sprite-b5
      width: 168px
      height: 93px
      top: 40px
      left: 9px

      &.normal
        background-position: -1110px -164px

      &.alt
        background-position: -1110px -257px
        left: 4px
        top: 38px

    &.alt
      background-position: -1323px -666px

      .sprite-b5
        left: 11px

        &.alt
          left: 6px

  .sprite-m6
    width: 141px
    height: 364px
    background-position: -1375px -934px
    top: 234px
    left: 250px

    .sprite-b6
      width: 85px
      height: 116px
      top: 65px
      left: 29px

      &.normal
        background-position: -1278px -164px

      &.alt
        background-position: -1278px -281px

    &.alt
      background-position: -1520px 0

      .sprite-b6
        top: 167px
        left: 28px

  .sprite-m7
    width: 121px
    height: 261px
    background-position: -1511px -364px
    top: 337px
    left: 131px

    .sprite-b7
      width: 91px
      height: 119px
      top: 40px
      left: 17px

      &.normal
        background-position: -750px -398px

      &.alt
        background-position: -842px -398px

    &.alt
      background-position: -1511px -624px

  .sprite-m8
    width: 133px
    height: 322px
    background-position: -1516px -884px
    top: 275px

    .sprite-b8
      width: 111px
      height: 80px
      top: 14px
      left: 10px

      &.normal
        background-position: -934px -350px

      &.alt
        background-position: -1045px -350px

    &.alt
      background-position: 0 -1207px

  .sprite-m9
    width: 176px
    height: 268px
    background-position: -133px -1298px
    left: 574px
    top: 288px

    .sprite-b9
      width: 167px
      height: 83px
      top: 2px
      left: 0

      &.normal
        background-position: -1156px -398px

      &.alt
        background-position: -934px -480px

    &.alt
      background-position: -309px -1298px

      .sprite-b9
        top: 17px
        left: 2px

.flag
  width: 118px
  height: 95px
  left: 132px
  top: 242px

  &.UK
    background-position: -750px 0

  &.US
  background-position: -868px 0
