h1 {
  color: #fff;
  position: absolute;
  top: 80px;
  left: 80px;
  font-size: 56px;
}

.button {
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-family: Georgia;
  height: 50px;
  background: #000;
  color: #fff;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}

.controls {
  margin-bottom: 10px;
}

.content {
  display: flex;
}

.building-header {
  background: #0f6674;
  color: #fff;
  font-size: 20px;
  height: 40px;
  padding: 4px;
}

.sprite {
  background-image: url("img/spritesheet.jpg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}
.sprite.stronghold {
  width: 847px;
  height: 1009px;
  background-position: 0 0;
  position: relative;
  transform: scale(0.7);
}
.sprite.stronghold div i {
  display: none;
}
.sprite.stronghold div.b1 i, .sprite.stronghold div.b2 i {
  display: block;
}
.sprite.m1 {
  width: 220px;
  height: 254px;
  background-position: -1068px 0;
  left: 438px;
  top: 542px;
}
.sprite.m1.alt {
  background-position: -847px 0;
}
.sprite.m1.alt .bonus {
  left: 110px;
  top: 95px;
}
.sprite.m1.b1 .bonus, .sprite.m1.b2 .bonus {
  background-position: -944px -254px;
}
.sprite.m1.b1.b2 .bonus {
  background-position: -847px -254px;
}
.sprite.m1 .bonus {
  width: 97px;
  height: 94px;
  left: 110px;
  top: 142px;
}
.sprite .m2 {
  width: 140px;
  height: 254px;
  background-position: -1428px 0;
  left: 658px;
  top: 542px;
}
.sprite .m2.alt {
  background-position: -1288px 0;
}
.sprite .m2.b1 .bonus, .sprite .m2.b2 .bonus {
  background-position: -1362px -254px;
}
.sprite .m2.b1.b2 .bonus {
  background-position: -1289px -254px;
}
.sprite .m2 .bonus {
  width: 74px;
  height: 163px;
  top: 53px;
  left: 31px;
}
.sprite .m3 {
  width: 233px;
  height: 342px;
  background-position: -1800px 0;
  left: 49px;
  top: 582px;
}
.sprite .m3.alt {
  background-position: -1567px 0;
}
.sprite .m3.b1 .bonus, .sprite .m3.b2 .bonus {
  background-position: -1659px -342px;
}
.sprite .m3.b1.b2 .bonus {
  background-position: -1567px -342px;
}
.sprite .m3 .bonus {
  width: 92px;
  height: 140px;
  top: 60px;
  left: 50px;
}
.sprite .m4 {
  width: 156px;
  height: 248px;
  background-position: -1003px -348px;
  top: 582px;
  left: 282px;
}
.sprite .m4.alt {
  background-position: -847px -348px;
}
.sprite .m4.b1 .bonus, .sprite .m4.b2 .bonus {
  background-position: -934px -596px;
}
.sprite .m4.b1.b2 .bonus {
  background-position: -847px -596px;
}
.sprite .m4 .bonus {
  width: 87px;
  height: 130px;
  top: 50px;
  left: 63px;
}
.sprite .m5 {
  width: 186px;
  height: 267px;
  background-position: -1347px -417px;
  top: 275px;
  left: 438px;
}
.sprite .m5.b1 .bonus, .sprite .m5.b2 .bonus {
  background-position: -1327px -684px;
  left: 5px;
  top: 74px;
}
.sprite .m5.b1.b2 .bonus {
  background-position: -1160px -684px;
  left: 11px;
}
.sprite .m5 .bonus {
  width: 166px;
  height: 91px;
  top: 40px;
  left: 9px;
}
.sprite .m5.alt {
  background-position: -1160px -417px;
}
.sprite .m5.alt.b1 .bonus, .sprite .m5.alt.b2 .bonus {
  left: 4px;
}
.sprite .m5.alt.b1.b2 .bonus {
  left: 9px;
}
.sprite .m5.alt .bonus {
  left: 11px;
  top: 38px;
}
.sprite .m6 {
  width: 134px;
  height: 363px;
  background-position: -1678px -482px;
  top: 219px;
  left: 303px;
}
.sprite .m6.alt {
  background-position: -1537px -482px;
}
.sprite .m6.alt .bonus {
  top: 65px;
  left: 26px;
}
.sprite .m6.b1 .bonus, .sprite .m6.b2 .bonus {
  background-position: -1617px -845px;
}
.sprite .m6.b1.b2 .bonus {
  background-position: -1534px -845px;
}
.sprite .m6 .bonus {
  width: 84px;
  height: 116px;
  top: 167px;
  left: 23px;
}
.sprite .m7 {
  width: 119px;
  height: 259px;
  background-position: -1934px -483px;
  top: 323px;
  left: 182px;
}
.sprite .m7.alt {
  background-position: -1814px -482px;
}
.sprite .m7.alt .bonus {
  top: 40px;
}
.sprite .m7.b1.b2 .bonus {
  background-position: -1814px -742px;
}
.sprite .m7.b1 .bonus, .sprite .m7.b2 .bonus {
  background-position: -1903px -742px;
}
.sprite .m7 .bonus {
  width: 89px;
  height: 118px;
  top: 74px;
  left: 17px;
}
.sprite .m8 {
  width: 131px;
  height: 322px;
  background-position: -978px -726px;
  left: 49px;
  top: 275px;
}
.sprite .m8.alt {
  background-position: -847px -726px;
}
.sprite .m8.alt .bonus {
  top: 14px;
}
.sprite .m8.b1 .bonus, .sprite .m8.b2 .bonus {
  background-position: -957px -1048px;
}
.sprite .m8.b1.b2 .bonus {
  background-position: -847px -1048px;
}
.sprite .m8 .bonus {
  width: 109px;
  height: 78px;
  top: 59px;
  left: 10px;
}
.sprite .m9 {
  width: 175px;
  height: 267px;
  background-position: -1284px -776px;
  left: 624px;
  top: 275px;
}
.sprite .m9.alt {
  background-position: -1110px -776px;
}
.sprite .m9.alt .bonus {
  top: 10px;
  left: 6px;
}
.sprite .m9.b1.b2 .bonus {
  background-position: -1110px -1043px;
}
.sprite .m9.b1 .bonus, .sprite .m9.b2 .bonus {
  background-position: -1269px -1043px;
}
.sprite .m9 .bonus {
  width: 158px;
  height: 81px;
  top: 65px;
  left: 8px;
}

.flag {
  width: 117px;
  height: 95px;
  left: 182px;
  top: 242px;
  background-position: -1752px -346px;
}
.flag.UK {
  background-position: -1870px -346px;
}

/*# sourceMappingURL=styles.css.map */
