h1 {
  color: #fff;
  position: absolute;
  top: 80px;
  left: 80px;
  font-size: 56px;
}

.preview {
  background: #ccc;
}

.button {
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-family: Georgia;
  height: 50px;
  background: #000;
  color: #fff;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}

.controls {
  margin-bottom: 10px;
}

.content {
  display: flex;
}

.sprite {
  background-image: url("img/spritesheet.jpg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}
.sprite.sprite-Stronghold {
  width: 847px;
  height: 1009px;
  background-position: 0 0;
  position: relative;
  transform: scale(0.7);
}
.sprite.sprite-Stronghold i i.hidden {
  display: none;
}
.sprite.sprite-m1 {
  width: 220px;
  height: 254px;
  background-position: -847px 0;
  left: 438px;
  top: 542px;
}
.sprite.sprite-m1.alt {
  background-position: -1068px 0;
}
.sprite.sprite-m1.alt .sprite-b1 {
  left: 110px;
  top: 142px;
}
.sprite.sprite-m1 .sprite-b1 {
  width: 97px;
  height: 94px;
  left: 110px;
  top: 95px;
}
.sprite.sprite-m1 .sprite-b1.normal {
  background-position: -847px -254px;
}
.sprite.sprite-m1 .sprite-b1.alt {
  background-position: -944px -254px;
}
.sprite .sprite-m2 {
  width: 140px;
  height: 254px;
  background-position: -1288px 0;
  left: 658px;
  top: 542px;
}
.sprite .sprite-m2.alt {
  background-position: -1428px 0;
}
.sprite .sprite-m2 .sprite-b2 {
  width: 74px;
  height: 163px;
  top: 53px;
  left: 31px;
}
.sprite .sprite-m2 .sprite-b2.normal {
  background-position: -1289px -254px;
}
.sprite .sprite-m2 .sprite-b2.alt {
  background-position: -1362px -254px;
}
.sprite .sprite-m3 {
  width: 233px;
  height: 342px;
  background-position: -1567px 0;
  left: 49px;
  top: 582px;
}
.sprite .sprite-m3.alt {
  background-position: -1800px 0;
}
.sprite .sprite-m3 .sprite-b3 {
  width: 92px;
  height: 140px;
  top: 60px;
  left: 50px;
}
.sprite .sprite-m3 .sprite-b3.normal {
  background-position: -1567px -342px;
}
.sprite .sprite-m3 .sprite-b3.alt {
  background-position: -1659px -342px;
}
.sprite .sprite-m4 {
  width: 156px;
  height: 248px;
  background-position: -847px -348px;
  top: 582px;
  left: 282px;
}
.sprite .sprite-m4.alt {
  background-position: -1003px -350px;
}
.sprite .sprite-m4 .sprite-b4 {
  width: 87px;
  height: 130px;
  top: 50px;
  left: 63px;
}
.sprite .sprite-m4 .sprite-b4.normal {
  background-position: -847px -596px;
}
.sprite .sprite-m4 .sprite-b4.alt {
  background-position: -934px -596px;
}
.sprite .sprite-m5 {
  width: 186px;
  height: 267px;
  background-position: -1160px -417px;
  top: 275px;
  left: 438px;
}
.sprite .sprite-m5.alt {
  background-position: -1347px -417px;
}
.sprite .sprite-m5.alt .sprite-b5 {
  left: 11px;
}
.sprite .sprite-m5.alt .sprite-b5.alt {
  left: 6px;
}
.sprite .sprite-m5 .sprite-b5 {
  width: 166px;
  height: 91px;
  top: 40px;
  left: 9px;
}
.sprite .sprite-m5 .sprite-b5.normal {
  background-position: -1160px -684px;
}
.sprite .sprite-m5 .sprite-b5.alt {
  background-position: -1327px -684px;
  left: 4px;
  top: 38px;
}
.sprite .sprite-m6 {
  width: 134px;
  height: 363px;
  background-position: -1537px -482px;
  top: 219px;
  left: 303px;
}
.sprite .sprite-m6.alt {
  background-position: -1678px -482px;
}
.sprite .sprite-m6.alt .sprite-b6 {
  top: 167px;
  left: 23px;
}
.sprite .sprite-m6 .sprite-b6 {
  width: 84px;
  height: 116px;
  top: 65px;
  left: 26px;
}
.sprite .sprite-m6 .sprite-b6.normal {
  background-position: -1534px -845px;
}
.sprite .sprite-m6 .sprite-b6.alt {
  background-position: -1617px -845px;
}
.sprite .sprite-m7 {
  width: 119px;
  height: 259px;
  background-position: -1814px -482px;
  top: 323px;
  left: 182px;
}
.sprite .sprite-m7.alt {
  background-position: -1934px -483px;
}
.sprite .sprite-m7 .sprite-b7 {
  width: 89px;
  height: 118px;
  top: 40px;
  left: 17px;
}
.sprite .sprite-m7 .sprite-b7.normal {
  background-position: -1814px -742px;
}
.sprite .sprite-m7 .sprite-b7.alt {
  background-position: -1903px -742px;
}
.sprite .sprite-m8 {
  width: 131px;
  height: 322px;
  background-position: -847px -726px;
  left: 49px;
  top: 275px;
}
.sprite .sprite-m8.alt {
  background-position: -978px -726px;
}
.sprite .sprite-m8 .sprite-b8 {
  width: 109px;
  height: 78px;
  top: 14px;
  left: 10px;
}
.sprite .sprite-m8 .sprite-b8.normal {
  background-position: -847px -1048px;
}
.sprite .sprite-m8 .sprite-b8.alt {
  background-position: -957px -1048px;
}
.sprite .sprite-m9 {
  width: 175px;
  height: 267px;
  background-position: -1110px -776px;
  left: 624px;
  top: 275px;
}
.sprite .sprite-m9.alt {
  background-position: -1284px -776px;
}
.sprite .sprite-m9.alt .sprite-b9 {
  top: 18px;
  left: 7px;
}
.sprite .sprite-m9.alt .sprite-b9.alt {
  left: 8px;
}
.sprite .sprite-m9 .sprite-b9 {
  width: 158px;
  height: 81px;
  top: 10px;
  left: 7px;
}
.sprite .sprite-m9 .sprite-b9.normal {
  background-position: -1110px -1043px;
}
.sprite .sprite-m9 .sprite-b9.alt {
  background-position: -1269px -1043px;
}

.flag {
  width: 117px;
  height: 95px;
  left: 182px;
  top: 242px;
  background-position: -1752px -346px;
}
.flag.UK {
  background-position: -1870px -346px;
}

/*# sourceMappingURL=styles.css.map */
